@model ArtGallery.Models.ViewModels.ViewFormsWithImage

@{
    ViewBag.Title = "Home Page";
    var formDtos = Model.formDtos;
}


<main class="container body-content">
  <div class="clearing"></div>
  <div class="columnsDiv">
    <div class="columns">
      @foreach( var form in formDtos ) {
        <div class="column">
          <div class="title">
            <h1>@form.formName</h1>
          </div>
          <div class="imgbg">
            <div class="img">
              @{
                if( Model.imageDtos.ContainsKey( form.formId ) ) {
                  var image = Model.imageDtos[ form.formId ];
                  var source = image.imagesPath + image.imageName + "." + image.imageExt;

                  <img src="@source" height="75" />
                } else {
                  <div style="height: 75px"></div>
                }
              }
            </div>
          </div>
          <div class="actionLinkDiv">
            @Html.ActionLink( "More", "Category", new {
                id = form.formId
            } )
          </div>
        </div>
      }
    </div>
  </div>

  <div class="clearing"></div>

  <div>
    <h2>Inventory - Admin Only</h2>
    <div class="actionLinkDiv">
      <div class="buttonAction">
        @Html.ActionLink( "Pieces", "../Pieces" )
      </div>
      <div class="buttonAction">
        @Html.ActionLink( "Forms", "../Forms" )
      </div>
      <div class="buttonAction">
        @Html.ActionLink( "Images", "../Images" )
      </div>
    </div>
  </div>
</main>



