@model ArtGallery.Models.FormDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<main class="container body-content">
  <div class="clearing"></div>
  <h2 class="titleStyle">Delete</h2>
  <h3 class="h3Style">Are you sure you want to delete this form?</h3>

  <div class="detailsTable">
    <dl class="detailsTableDl">
      <dt>
        @Html.DisplayNameFor( model => model.formName )
      </dt>

      <dd>
        @Html.DisplayFor( model => model.formName )
      </dd>
    </dl>

    <dl class="detailsTableDl">
      <dt>
        @Html.DisplayNameFor( model => model.formDescription )
      </dt>

      <dd>
        @Html.DisplayFor( model => model.formDescription )
      </dd>
    </dl>

    @using( Html.BeginForm( "Delete", "Forms", new {
      id = Model.formId
    } ) ) {
      @Html.AntiForgeryToken()

      <div class="form-actions no-color">
        <input type="submit" value="Delete" class="basicButton" />
        <div class="actionLinkDiv" style="display: inline-block">
          <div class="buttonAction">
            @Html.ActionLink( "Cancel", "Details", new {
              id = Model.formId
            } )
          </div>
        </div>
      </div>
    }
  </div>
</main>
