@model ArtGallery.Models.ViewModels.ViewPiece

@{
    ViewBag.Title = "Delete";
}

<main class="container body-content">
  <div class="clearing"></div>

  <div class="detailsTable">
    <h2 class="titleStyle">@Model.pieceDto.pieceName</h2>
    <h3>Are you sure you want to delete this piece?</h3>
    <div>
      <dl class="detailsTableDl">
        <dt>
          @Html.DisplayNameFor( model => model.pieceDto.pieceDescription )
        </dt>

        <dd>
          @Html.DisplayFor( model => model.pieceDto.pieceDescription )
        </dd>

        <dt>
          @Html.DisplayNameFor( model => model.formDto.formName )
        </dt>

        <dd>
          @if( Model.formDto == null ) {
            <span>None</span>
          } else {
            @Html.DisplayFor( model => model.formDto.formName )
          }
        </dd>

        <dt>
          @Html.DisplayNameFor( model => model.pieceDto.length )
        </dt>

        <dd>
          @Html.DisplayFor( model => model.pieceDto.length )
        </dd>

        <dt>
          @Html.DisplayNameFor( model => model.pieceDto.width )
        </dt>

        <dd>
          @Html.DisplayFor( model => model.pieceDto.width )
        </dd>

        <dt>
          @Html.DisplayNameFor( model => model.pieceDto.height )
        </dt>

        <dd>
          @Html.DisplayFor( model => model.pieceDto.height )
        </dd>

        <dt>
          @Html.DisplayNameFor( model => model.pieceDto.piecePrice )
        </dt>

        <dd>
          @Html.DisplayFor( model => model.pieceDto.piecePrice )
        </dd>

      </dl>
    </div>

    @using( Html.BeginForm( "Delete", "Pieces", new {
      id = Model.pieceDto.pieceId
    } ) ) {
      @Html.AntiForgeryToken()

      <div class="form-actions no-color">
        <input type="submit" value="Delete" class="basicButton" />
        <div class="actionLinkDiv" style="display: inline-block">
          <div class="buttonAction">
            @Html.ActionLink( "Cancel", "Details", new {
              id = Model.pieceDto.pieceId
            } )
          </div>
        </div>
      </div>
    }
  </div>
  <div class="actionLinkDiv">
      @Html.ActionLink( "Back to Pieces", "Index" )
  </div>
</main>
