<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewBag.Title - Art Gallery</title>
  @Styles.Render( "~/Content/css" )
  @Scripts.Render( "~/bundles/modernizr" )

</head>
<body>
  <header class="container body-content">
    <div class="menu-wrapper">
      <div class="menu">
        <ul>
          <li><a href="/Home" class="active">home</a></li>
          <li><a href="/About">about</a></li>
          <li><a href="/Categories">works</a></li>
          <li><a href="/Contact">contact</a></li>
          <li>
            @Html.ActionLink( "Log in", "Login", "Account", routeValues: null, htmlAttributes: new {
        id = "loginLink"
      } )
          </li>
        </ul>
      </div>
    </div>
    <!--- menu-wrapper div end -->
    <div class="clearing"></div>
    <div class="border-bottom"></div>
    <div class="logo-wrapper">
      @{
        var imagesPath = Url.Content( "~/Content/Images/" );
        var logoWrapLeft = imagesPath + "logo-wrap-left.jpg";
        var logoWrapRight = imagesPath + "logo-wrap-right.jpg";
        var bannerWrapLeft = imagesPath + "banner-wrap-left.jpg";
        var bannerWrapRight = imagesPath + "banner-wrap-right.jpg";
      }
      <div class="leftshadow"><img src="@logoWrapLeft" /></div>
      <div class="logo">
        <h1>SKDS</h1>
      </div>
      <div class="rightshadow"><img src="@logoWrapRight" /></div>
    </div>
    <div class="clearing"></div>
    <div class="banner-wrapper">
      <div class="bannerlef"><img src="@bannerWrapLeft" /></div>
      <div class="banner-container">
        <div class="banner">
          <div class="banner-content">
            <h1>Art Gallery</h1>
            <h2>better name coming soon</h2>
            <a href="#">View Work</a>
          </div>
        </div>
      </div>
      <div class="bannerright"><img src="@bannerWrapRight" /></div>
    </div>
  </header>

  @*<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          @Html.ActionLink( "Art Gallery", "Index", "Home", new {
            area = ""
          }, new {
            @class = "navbar-brand"
          } )
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>@Html.ActionLink( "Home", "Index", "Home" )</li>
            <li>@Html.ActionLink( "About", "About", "Home" )</li>
            <li>@Html.ActionLink( "Contact", "Contact", "Home" )</li>
          </ul>
          @Html.Partial( "_LoginPartial" )
        </div>
      </div>
    </div>*@
  @RenderBody()

  @Scripts.Render( "~/bundles/jquery" )
  @Scripts.Render( "~/bundles/bootstrap" )
  @RenderSection( "scripts", required: false )
</body>
</html>
