@model ArtGallery.Models.ViewModels.UpdateImage

@Scripts.Render( "~/bundles/jquery" )
@Scripts.Render( "~/bundles/jqueryval" )


@{
    // The attribute enctype="multipart/form-data" is required
    // if you are sending files as part of the HTTP POST request
    // Must have it to upload images!!!
    if( ViewBag.errorMessage != null ) {
        <h2>@ViewBag.errorMessage</h2>
    } else {
        <h2>Add Image for @Model.pieceDto.pieceName</h2>
    }
}

@using( Html.BeginForm( "Create", "Images", new {
    id = Model.pieceDto.pieceId
}, FormMethod.Post, new {
    enctype = "multipart/form-data"
} ) ) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-md-6">
            <div class="form-group" style="padding: 1em">
                <div class="col-md-12">
                    <input type="file" name="imageData" style="padding: 1em" />
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 buttonLikeActionDiv">
                <input type="submit" value="Add Image" class="buttonLikeAction" />
            </div>
        </div>
    </div>
}

<div class="actionLinkDiv">
    @Html.ActionLink( "Back to Images", "Images", new {
        id = Model.pieceDto.pieceId
    } ) |
    @Html.ActionLink( "Back to Piece", "../Pieces/Details", new {
        id = Model.pieceDto.pieceId
    } )
</div>
