@model ArtGallery.Models.ViewModels.ViewImage

@{
    ViewBag.Title = "Details";
}

<h2>Image for @Model.pieceDto.pieceName</h2>
<hr />

<div>
    <div class="featuredImageDivParent" style="display: inline-block">
        <div class="featuredImageDiv">
            @{
                var source = Model.imageDto.imagesPath + Model.imageDto.imageName + "." + Model.imageDto.imageExt;
            }
            <img src="@source" />
        </div>
        <div class="actionLinkDiv">
            <div class="buttonAction" style="float: right">
                @Html.ActionLink( "Edit", "Edit", new {
                    id = Model.imageDto.imageId
                } )
            </div>
        </div>
    </div>
    <div class="actionLinkDiv">
        @Html.ActionLink( "Back to Images List", "Index", new {
            id = Model.pieceDto.pieceId
        } ) |
        @Html.ActionLink( "Go to Piece", "../Pieces/Details", new {
            id = Model.pieceDto.pieceId
        } )
    </div>
</div>

