@model IEnumerable<ArtGallery.Models.ImageDto>

@{
    ViewBag.Title = "Index";
}

<main class="container body-content">
  <div class="clearing"></div>
  <h2 class="tableTitle">Images</h2>

  @if( Model.Count() == 0 ) {
    <div class="messageDiv">There are no forms to display.</div>
  } else {

    <table class="basicTable">
      <tr>
        <th>
          @Html.DisplayNameFor( model => model.imageName )
        </th>
        <th>
          @Html.DisplayNameFor( model => model.imageExt )
        </th>
        <th>
          @Html.DisplayNameFor( model => model.isMainImage )
        </th>
        <th></th>
      </tr>

      @foreach( var item in Model ) {
        <tr>
          <td>
            @Html.DisplayFor( modelItem => item.imageName )
          </td>
          <td>
            @Html.DisplayFor( modelItem => item.imageExt )
          </td>
          <td>
            @Html.DisplayFor( modelItem => item.isMainImage )
          </td>
          <td class="actionsTd">
            @Html.ActionLink( "Edit", "Edit", new {
           id = item.imageId
       } ) |
            @Html.ActionLink( "Details", "Details", new {
           id = item.imageId
       } ) |
            @Html.ActionLink( "Delete", "DeleteConfirm", new {
           id = item.imageId
       } )
          </td>
        </tr>
      }

    </table>
  }

  <div class="actionLinkDiv">
    @Html.ActionLink( "Go to Pieces List", "../Pieces" )
  </div>
</main>

